<?xml version="1.0"?>
<model>
    <name>iCub (base_est)</name>

    <version>1.0</version>
    <sdf version='1.4'>icub_base_est.sdf</sdf>

    <author>
        <name>Giulio Romualdi</name>
        <email>giulio.romualdi@iit.it</email>
    </author>

    <description>
        Model for the iCub humanoid robot. For more information check icub.org .
    </description>
</model>
